/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

body{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 0 0;
    background-color: #EDF1F9;
}

a{
    text-decoration: none;
    color: #222;
}

header{
    height: 267px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #003764;
}

section{
    height: 530px;
    width: 900px;
    margin: 0 auto;
    background-color: #EDF1F9;
}

footer{
    height: 250px;
    width: 100%;
    margin: 0 auto;
    background-color: #003764;
    display: block;
}

.header{
    width: 900px;
    margin: 0 auto;
}

.spacer{
    height: 30px;
    width: 100%;
    background-color: #B9CBEA;
}

.column-left{
    height: 467px;
    width: 425px;
    margin: 20px 0 0 0;
    float: left;
}

.welcome{
    height: 200px;
    width: 400px;
    margin: 0 0;
}

.welcome h2{
    color: #FF9E16;
    font-size: 24px;
    margin: 0 0 -10px 0;
}

.icons{
    height: 260px;
    width: 60px;
    float: left;
    margin-top: 10px;
}

.icons img{
    height: 50px;
    width: 50px;
    margin-bottom: 40px;
}

.info{
    height: 260px;
    width: 335px;
    margin: -30px 0;
    float: right;
}

.info h3{
    font-size: 20px;
    letter-spacing: .4em;
    color: #FF9E16;
    margin-bottom: -10px;
}

.column-right{
    height: 467px;
    width: 425px;
    margin: 5px 0 0 0;
    float: right;
}

.column-right h2{
    color: #FF9E16;
    font-size: 24px;
}

.latest-news{
    height: 75px;
    width: 375px;
    margin: 0 0 10px 0;
}

.latest-news h2{
    margin: 0 0 -10px 0;
}

.menu{
}

.menu-nav{
    font-size: 20px;
    word-spacing: 25px;
    display: block;
}

.menu-nav :hover{
    color: #FF9E16;
}

.catagories{
    height: 160px;
    width: 375px;
    display: inline;
}

.catagories img{
    margin: 20px 10px 10px 10px;
    border: 3px solid #FF9E16;
}

.info-left{
    height: 127px;
    width: 180px;
    float: left;
}

.info-left h3{
    font-size: 20px;
    color: #FF9E16;
    margin: 20px 0 -10px 0;
}

.info-right{
    height: 127px;
    width: 180px;
    float: right;
}

.info-right h3{
    font-size: 20px;
    color: #FF9E16;
    margin: 20px 0 -10px 0;
}

.button-left{
    width: 150px;
    margin: -20px 0;
    float: left;
}

.button-right{
    margin: -20px 0 0 60px;
    width: 150px;
    float: left;
}

.footer{
    width: 900px;
    margin: 0 auto;
}

.footer h2{
    font-size: 24px;
    margin-left: 15px;
    color: #003764;
}

.footer p{
    margin: -19px 0px 0px 15px;
}

.box-l{
    height: 188px;
    width: 180px;
    margin: 30px 40px 0 30px;
    margin-left: 120px;
    background-color: #B9CBEA;
    box-shadow: 0px 10px 10px #222;
    border-radius: 5px;
    float: left;
}

.box-l img{
    width: 170px;
    margin-top: 50px;
    float: right;
}

.box-c{
    height: 188px;
    width: 180px;
    margin: 30px 40px 0 30px;
    background-color: #B9CBEA;
    box-shadow: 0px 10px 10px #222;
    border-radius: 5px;
    float: left;
}

.box-c img{
    width: 170px;
    margin-top: 50px;
    float: right;
}

.box-r{
    height: 188px;
    width: 180px;
    margin: 30px 40px 0 30px;
    background-color: #B9CBEA;
    box-shadow: 0px 10px 10px #222;
    border-radius: 5px;
    float: left;
}

.box-r img{
    width: 170px;
    margin-top: 30px;
    float: right;
}







